x64
DeadSKSE
.vs
/*.user
/Scripts/Compiled
/*.aps
/Scripts/.vscode/*.json
/SkyrimSE.code-workspace
/skyrimse.ppj
/.vscode/*.json
*.user
/Artifacts
build
/**/*.jpg
/**/*.eps
skyrimse.ppj
/Scripts/*.code-workspace
/Scripts/DES_CoinManager.pex
/Scripts/DES_DefaultCoins.pex
/Scripts/Source/DES_CoinExchanger.psc
/Scripts/Source/DES_CoinManager.psc
/Scripts/Source/DES_DefaultCoins.psc
/Scripts/Source/qf_akhrtravelstqueststart_04b78f01.psc
/Scripts/qf_akhrtravelstqueststart_04b78f01.pex
debug-msvc
logging-msvc
release-msvc
