x64
DeadSKSE
.vs
/*.user
/Scripts/Compiled
/*.aps
/Scripts/.vscode/*.json
/SkyrimSE.code-workspace
/skyrimse.ppj
/.vscode/*.json
*.user
/Artifacts
build
/**/*.jpg
/**/*.eps
skyrimse.ppj
/Scripts/*.code-workspace
